<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>362674911171-mmgdf1l5pbli4ek23ri0kcaaqdtn89bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362674911171-mmgdf1l5pbli4ek23ri0kcaaqdtn89bj</string>
	<key>API_KEY</key>
	<string>AIzaSyCCZD6PVTnxP73BiPt1q5n3hzGpSm987qs</string>
	<key>GCM_SENDER_ID</key>
	<string>362674911171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thatnaoki.Pundity</string>
	<key>PROJECT_ID</key>
	<string>pundity-d2434</string>
	<key>STORAGE_BUCKET</key>
	<string>pundity-d2434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362674911171:ios:d5bf48db0fd3df7e</string>
	<key>DATABASE_URL</key>
	<string>https://pundity-d2434.firebaseio.com</string>
</dict>
</plist>